export port=5000

export db_migration_url=postgresql://postgres:postgres@127.0.0.1:5432/db?sslmode=disable

export db_url=postgresql://postgres:postgres@127.0.0.1:5432/db?sslmode=disable

export cookie_enc_key=tjb+qIR8OedvQXFwFCjaLhPahDyxhQHENHdIknun2tE=

export jwt_secret=c25955a60569962d6c66dbc7422aca9e

export env=dev

export ngrok_static_url=loyal-marginally-turtle.ngrok-free.app

export redis_url=localhost:6379

export next_public_port=3000

export ESLINT_USE_FLAT_CONFIG=false
