port=5000

db_migration_url=postgresql://postgres:postgres@127.0.0.1:5432/db?sslmode=disable

db_url=postgresql://postgres:postgres@127.0.0.1:5432/db?sslmode=disable

cookie_enc_key=tjb+qIR8OedvQXFwFCjaLhPahDyxhQHENHdIknun2tE=

jwt_secret=c25955a60569962d6c66dbc7422aca9e

env=dev

ngrok_static_url=loyal-marginally-turtle.ngrok-free.app

redis_url=localhost:6379
