PORT=5000

DB_MIGRATION_URL=postgresql://postgres:postgres@127.0.0.1:5432/db?sslmode=disable

DB_URL=postgresql://postgres:postgres@127.0.0.1:5432/db?sslmode=disable

JWT_SECRET=c25955a60569962d6c66dbc7422aca9e

ENV=dev

COOKIE_ENC_KEY=tjb+qIR8OedvQXFwFCjaLhPahDyxhQHENHdIknun2tE=

GO111MODULE=on
    
CGO_ENABLED=0
    
GOOS=linux
    
GOARCH=amd64

NGROK_STATIC_URL=loyal-marginally-turtle.ngrok-free.app

REDIS_URL=localhost:6379