@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
  min-height: 45px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #191919;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 8px;
  border: 1px solid #fff;
  min-height: 45px;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #000;
  min-height: 45px;
}

::-webkit-scrollbar-thumb {
  background: #393812;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.tinted-glass {
  background: rgba(10, 10, 10, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
